{{ 'component-of-button.css' | asset_url | stylesheet_tag }}
{{ 'section-of-header.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }} .of-header-container .of-color-bg {  
    background-color: {{ section.settings.of_header_bg_color }}; 
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

  <div class="of-page section-{{ section.id }} section-{{ section.id }}-padding">
      <div class="of-container of-header-container">
        <div class="of-header of-color-bg">
          <p class="of-header-icon">
            {%- if section.settings.of_logo != blank -%}
              <img src="{{ section.settings.of_logo | image_url }}" alt="Logo Icon" width="150" height="auto">
            {% endif %}
          </p>
          <p class="of-header-text">
             {%- if section.settings.of_header_text != blank -%}
              {{ section.settings.of_header_text  }}
            {% endif %}
          </p>
          {%- if section.settings.of_button_text or section.settings.of_button_url -%}
             <a
                href="{{ section.settings.of_button_url }}"
                class="sweep-link of-button" 
                aria-label="{{ section.settings.of_button_text | escape | default: 'Button' }}"
              >
                {{ section.settings.of_button_text | escape | default: 'Button' | upcase}}
                <img alt="Banner Icon" width="24" height="auto"> <!-- Arrow Icon, will replace the icon using css styling -->
              </a>
          {%- endif -%}
        </div>
      </div>
    </div>
{% schema %}
{
  "name": "Of Header",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "of_logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "of_header_text",
      "label": "Announcement Text",
      "default": "Text goes here"
    },
    {
      "type": "text",
      "id": "of_button_text",
      "label": "Button text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "of_button_url",
      "label": "Button text"
    },
    {
      "type": "color",
      "id": "of_header_bg_color",
      "label": "Background color",
      "default": "#F5F5F5"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Of Header"
    }
  ]
}
{% endschema %}
