{{ 'component-of-button.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'section-of-product-collection.css' | asset_url | stylesheet_tag: preload: true }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="color-{{ section.settings.color_scheme }} gradient">
  <div class="of-page section-{{ section.id }} section-{{ section.id }}-padding">
    <div class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div class="of-container of-product-collection-container">
        {% if section.settings.of_heading %}
          <p>{{ section.settings.of_heading }}</p>
        {% endif %}
        <div class="of-product-collection">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'product' %}
                {% if block.settings.product != blank %}
                  <div class="of-product-collection-item">
                    <img
                      src="{{ block.settings.product.featured_image | img_url: 'master'}}"
                      alt="{{ block.settings.product.title | escape }}"
                    >
                    <span
                      class="of-hotspot-icon"
                      style="
                        position:absolute;
                        top: {{ block.settings.of-pos-y }}%;
                        left: {{ block.settings.of-pos-x }}%;
                        {% comment %} transform: translate(-50%, -50%); {% endcomment %}
                        border-radius:50%;
                      "
                      data-top-mobile="{{ block.settings.of-pos-y-mobile }}"
                      data-left-mobile="{{ block.settings.of-pos-x-mobile }}"
                    >
                      <img
                        src="{{ 'icon-plus-in-circle.svg' | asset_url }}"
                        class="of-product-popup"
                        width="22"
                        height="22"
                      >
                    </span>
                  </div>
                {% endif %}
            {% endcase %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.querySelectorAll('.of-hotspot-icon').forEach((el) => {
    el.style.setProperty('--top-mobile', el.dataset.topMobile + '%');
    el.style.setProperty('--left-mobile', el.dataset.leftMobile + '%');
  });
</script>
{% comment %} <script src="{{ '.js' | asset_url }}" defer="defer"></script> {% endcomment %}
{% schema %}
{
  "name": "Of Prodcut Collection",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "of_heading",
      "label": "Heading",
      "default": "Text goes here"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select product"
        },
        {
          "type": "range",
          "id": "of-pos-x",
          "label": "Horizontal position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "of-pos-y",
          "label": "Vertical position",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "of-pos-x-mobile",
          "label": "Horizontal position mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        },
        {
          "type": "range",
          "id": "of-pos-y-mobile",
          "label": "Vertical position mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Of Prodcut Collection",
      "blocks": [
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        },
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
